<!DOCTYPE html>
<html>
  <head>
    <title>Sell My Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="search and sell your services to nearby locations" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="dark-blue white-text center-align">
      <div class="container">
        <h1>
          <img src="images/logo.png" id="logo" />
          <span>SellMyServices</span>
        </h1>
        <p class="flow-text">
          We help people to offer their services to others easily and quickly. SellMyServices is a platform where a seller can publish his services. These services can then be searched by seekers in their nearby location.
        </p>
        <center>
          <h6>
            <a href="https://play.google.com/store/apps/details?id=me.varunon9.sellmyservices">
              <img src="images/google-play.png" />
            </a>
          </h6>
        </center>
      </div>
    </header>

    <main>
      <div class="container center-align">
        <img src="images/sell-my-services.gif" class="pixel2-phone" />
      </div>

      <div class="container">
        <h3>How does it work?</h3>
        <div class="row">
          <div class="col m6">
            <p class="flow-text">
              A seller is a person who offers some service e.g. Photographer, Carpenter, Cook, Teacher, Doctor, Freelancer etc. Seller register his services on our platform.
            </p>
          </div>
          <div class="col m6">
            <center>
              <ul class="inline-list">
                <li class="inline-list-icon"><i class="fas fa-user-md"></i></li>
                <li class="inline-list-icon"><i class="fas fa-chalkboard-teacher"></i></li>
                <li class="inline-list-icon"><i class="fas fa-camera"></i></li>
              </ul>
            </center>
          </div>
        </div>
        <div class="row">
          <div class="col m6">
            <center>
              <ul class="inline-list">
                <li class="inline-list-icon"><i class="fas fa-shopping-cart"></i></li>
                <li class="inline-list-icon"><i class="fas fa-money-bill-alt"></i></li>
                <li class="inline-list-icon"><i class="fas fa-credit-card"></i></li>
              </ul>
            </center>
          </div>
          <div class="col m6">
            <p class="flow-text">
              A seeker is a person who is in search of some service(s) e.g. a person looking to hire cook. Seekers search services on our platform.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col m6">
            <p class="flow-text">
              SellMyServices lists all the nearby sellers who are offering services searched by the seeker. Seeker can then browse seller's services, their ratings, location etc and if interested can directly chat to sellers. After availing a service, a seeker can
              share feedback and rating to corresponding seller on our platform.
            </p>
          </div>
          <div class="col m6">
          </div>
        </div>
      </div>

    </main>

    <footer class="light-blue white-text page-footer">
      <div class="container">
        <div class="row">
          <div class="col m6">
            <h3>Contributors</h3>
            <ul>
              <li>
                <a class="white-text" target="_blank" href="https://github.com/rishabh2609">
                  Rishabh Chanana
                </a>
              </li>
              <li>
                <a class="white-text" target="_blank" href="https://github.com/kayforkaran">
                  Karan Sharma
                </a>
              </li>
              <li>
                <a class="white-text" target="_blank" href="https://github.com/AnshulMalik">
                  Anshul Malik
                </a>
              </li>
              <li>
                <a class="white-text" target="_blank" href="https://github.com/MacBox7">
                  Ankit Joshi
                </a>
              </li>
              <li>
                <a class="white-text" target="_blank" href="https://github.com/varunon9">
                  Varun Kumar
                </a>
              </li>
            </ul>
          </div>
          <div class="col m6">
            <h3>
              <a class="white-text" target="_blank" href="https://github.com/gawdsnitkkr">
                About Us
              </a>
            </h3>
            <p>
              We are group of developers and designers from NIT Kurukshetra
            </p>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          Willing to contribute? 
          <a href="https://github.com/gawdsnitkkr/sell-my-services-backend" class="white-text">
            Check Source Code
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
